<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Utenti</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" >
        <style>
        /* Reduce the font size of table headers */
        th {
            font-size: 14px;
        }

        /* Reduce the font size of table data cells */
        td {
            font-size: 12px;
            line-height: 1.4; /* Adjust the line height for better readability */
        }

        /* Add padding between table cells */
        td, th {
            padding: 6px 12px;
        }

        /* Add some space between rows */
        tr {
            margin-bottom: 10px;
        }

        /* Reduce the font size of the event name */
        .event-name {
            font-size: 16px;
        }

        /* Reduce the font size of the event description */
        .event-description {
            font-size: 12px;
        }

        /* Reduce the font size of the event website and category */
        .event-details {
            font-size: 12px;
        }

        /* Reduce the size of event category icons */
        .category-icon {
            height: 16px;
        }

        /* Reduce the size of the event cover image */
        .cover-img {
            height: 40px;
        }

        .active-page .nav-link {
            text-decoration: underline;
        }
    </style>
</head>
<body>

    {% if user.is_authenticated and user.is_superuser %}
    <div class="container-fluid">

        <table id="ordersTable" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">uid</th>
                    <th scope="col">permissions</th>
                    <th scope="col">consent</th>
                    <th scope="col">last_access</th>
                    <th scope="col">count</th>
                    <th scope="col">version</th>
                    <th scope="col">platform</th>
                    <th scope="col">userId</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in firebase %}               
                    <tr>
                        <td>
                            {{user.id}}
                        </td>
                        <td>
                            {{user.uid}}
                        </td>
                        <td>
                            {{user.permissions}}
                        </td> 
                        <td>
                            {{user.consent}}
                        </td> 
                        <td>
                            {{ user.last_access|date:"Y/m/d H:i" }}
                        </td> 
                        <td>
                            {{user.count}}
                        </td> 
                        <td>
                            {{user.version}}
                        </td> 
                        
                        <td>
                            {{user.platform}}
                        </td> 
                        <td>
                            {{user.userId}}
                        </td> 
                        <td>
                            {% if user.consent == True %}
                                <a href="#" data-userid="{{user.userId}}" class="btn btn-outline-primary btn-sm send-push-btn">invia push</a>
                            {% endif %}
                        </td> 
                        
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="pushModal" tabindex="-1" role="dialog" aria-labelledby="pushModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pushModalLabel">Send Push</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Sei sicuro di vole inviare la push all'utente: User ID: <span id="pushUserId"></span>?
                    <form id="pushForm">
                        <div class="form-group">
                            <label for="titleInput">Title</label>
                            <input type="text" class="form-control" id="titleInput" placeholder="Enter Title">
                        </div>
                        <div class="form-group">
                            <label for="subtitleInput">Subtitle</label>
                            <input type="text" class="form-control" id="subtitleInput" placeholder="Enter Subtitle">
                        </div>
                        <div class="form-group">
                            <label for="bodyInput">Body</label>
                            <input type="text" class="form-control" id="bodyInput" placeholder="Enter Body">
                        </div>
                        <div class="form-group">
                            <label for="bodyInput">Silent</label>
                            <input type="text" class="form-control" id="silentInput" placeholder="Enter Silent">
                        </div>
                        <div class="form-group">
                            <label for="bodyInput">Badge Count</label>
                            <input type="text" class="form-control" id="badgeInput" placeholder="Enter Badge">
                        </div>
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="#" id="confirmPushBtn" class="btn btn-primary">Confirm Push</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Load jQuery first -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Ionicons and other scripts can follow -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <!-- Your custom scripts -->
    <script>
       $(document).ready(function() {
            $('#ordersTable').DataTable({
                "order": [[0, "desc"]]
            });

            $(document).on('click', '.send-push-btn', function(event) {
                event.preventDefault();

                const userId = $(this).data('userid');
                $('#pushUserId').text(userId);
                $('#pushModal').modal('show');
            });

            $('#confirmPushBtn').on('click', function(event) {
                event.preventDefault();

                const title = $('#titleInput').val();
                const subtitle = $('#subtitleInput').val();
                const body = $('#bodyInput').val();
                const silent = $('#silentInput').val();
                const badge = $('#badgeInput').val();

                const userId = $('#pushUserId').text();
                let href = `/firebase_push/${userId}/?`;

                // Conditionally add each parameter only if it has a value

                if (silent) {
                    href += `silent=${encodeURIComponent(silent)}&`;
                }
                else{
                    if (title) {
                    href += `title=${encodeURIComponent(title)}&`;
                    }
                    if (subtitle) {
                        href += `subtitle=${encodeURIComponent(subtitle)}&`;
                    }
                    if (body) {
                        href += `body=${encodeURIComponent(body)}&`;
                    }
                }
                if (badge) {
                    href += `badge=${encodeURIComponent(badge)}`;
                }

                window.location.href = href;
            });
        });

    </script>

    {% else %}
        401
    {% endif %}
</body>
</html>
