{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block body%}
<main class="main pages">

    <div class="page-content pt-150 pb-150" >
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 m-auto">
                    {% if messages %}
                        {% for message in messages %}
        
                        <div    class="alert align-middle alert-{{message.tags}}">
                        
                            <span class="align-middle"> {{message}}</span>
                        </div>
        
                        {% endfor %}
                    {% endif %}

                    <div class="login_wrap widget-taber-content background-white">
                        <div class="padding_eight_all bg-white" style="padding: 32px; border-radius: 24px;">
                            <div class="heading_s1">
                                <img class="border-radius-15" src="{% static 'assets/imgs/page/forgot_password.svg'%}" alt="" />
                                <h2 class="mb-15 mt-15">Hai dimenticato la password?</h2>
                                <p class="mb-30">Nessun problema, potrai reimpostarla. Per favore inserisci l'indirizzo email di registrazione.</p>
                            </div>
                            <form method="post" action="{% url 'accounts:password_reset_send'%}">
                                <div class="form-group">
                                    {% csrf_token %}
                                    <input type="email" name="email">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-heading btn-block hover-up" name="login">Reset password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body%}