{% load static %}

{%block body%}
<main class="main pages">
    <div class="page-content pt-150 pb-150" style="background:white;" >
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 m-auto">
                    <div class="login_wrap widget-taber-content background-white">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3 class="mb-15 mt-15">Reset della password completato!</h3>
                                <p class="mb-30"> La tua password è stata cambiata <a href="{%url 'accounts:login'%}">Accedi</a></p>
                                
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    .heading_s1 h3 {
        color: #007bff;
        text-align: center;
    }
    
    .mb-15, .mb-30 {
        margin-bottom: 15px;
    }
    
    p {
        text-align: center;
    }
    
    a {
        color: #007bff;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
</style>
{% endblock body%}