{% block menu %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #117ce7;">
    <a class="navbar-brand text-white" href="/">Falone Costruzioni</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item {% if request.path == '/' %}active-page{% endif %}">
                <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'board:board'%}">Bacheca</a>
            </li>

            <li class="nav-item {% if request.path == '/admin' %}active-page{% endif %}">
                <a class="nav-link text-white" href="/admin" target="blank">Admin Panel</a>
            </li>


        </ul>            
        <a href="" class="btn btn-outline-light ml-3">Logout</a>
    </div>
</nav>
<!-- End of Navbar -->
{% endblock %}